
<p id="notice"><%= notice %></p>

<% id = @mood.id %>
<% @mood = Mood.using(:moodshard).find_by_id(id) %>

<p>
  <strong>Color:</strong>
  <%= @mood.color %>
</p>

<p>
  <strong>Mood:</strong>
  <%= @mood.mood %>
</p>

<%= link_to 'Edit', edit_mood_path(@mood) %> |
<%= link_to 'Back', moods_path %>
