<h1>Editing Profile</h1>

<%= form_for @profile, id: current_user.id do |f| %>

<li class="round-image-50"><%= image_tag(@profile.avatar.url(:thumb)) %> </li>

<div class="form-group">
  <%= f.label :avatar, class: 'col-sm-2 control-label' %>
  <div class="col-sm-6">
    <%=f.file_field :avatar %>
  </div>
</div>

<div class="field">
  <%= f.label :first_name %><br />
  <%= f.text_field :first_name %>
</div>

<div class="field">
  <%= f.label :last_name %><br />
  <%= f.text_field :last_name %>
</div>

<div class="field">
  <%= f.label :about_me %><br />
  <%= f.text_field :about_me %>
</div>

  <div class="actions">
  <%= f.submit "update" %>
  </div>

<% end %>

<%= link_to 'Home', root_path %>
