<h1> PROFILE  </h1>
<p id="notice"><%= notice %></p>

<li class="round-image-50"><%= image_tag(@profile.avatar.url(:thumb)) %> </li>
<div>  
<b>First name: </b><%= @profile.first_name %> <br/>
</div>

<div>
<b>Last name: </b><%= @profile.last_name %><br />
</div>

<div>
<b>About me: </b><%= @profile.about_me %><br />
</div>

</p>

<section class="stats">
  <%= render 'stats' %>
</section>

<%= link_to 'Edit Profile', edit_profile_path(current_user) %>
<%= link_to 'Home', root_path %>

