<h1> PROFILE  </h1>

<% if(@profile.id == current_user.id)  %>
<!-- If user logged in we can view this -->
<p id="notice"><%= notice %></p>

<li class="list-unstyled"><%= image_tag(@profile.avatar.url(:thumb)) %> </li>
<div>  
<b>First name: </b><%= @profile.first_name %> <br/>
</div>

<div>
<b>Last name: </b><%= @profile.last_name %><br />
</div>

<div>
<b>About me: </b><%= @profile.about_me %><br />
</div>

</p>

<section class="stats">
  <%= render 'stats' %>
</section>

<%= link_to 'Edit Profile', edit_profile_path(current_user) %>

<% else %>


<li class="list-unstyled"><%= image_tag(@profile.avatar.url(:thumb)) %> </li>
<div>  
<b>First name: </b><%= @profile.first_name %> <br/>
</div>

<div>
<b>Last name: </b><%= @profile.last_name %><br />
</div>

<div>
<b>About me: </b><%= @profile.about_me %><br />
</div>

</p>

<section class="stats">
  <%= render 'stats', locals: {profile: @profile.id}  %>
</section>

<% end %>

  <%= render 'mood', locals: {user: @user.id}  %>



