<h1>Chroma</h1>

<br>
<h3>Here is the list of your saved moods</h3>

<table>
  <thead>
    <tr>
      <th>Color</th>
      <th>Mood</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @moodlist.each do |mood| %>
      <tr>
        <td><%= mood.color %></td>
        <td><%= mood.mood %></td>
        <td><%= link_to 'Show', mood %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>

<h3>Here is the record of your mood updates</h3>

<table>
  <thead>
    <tr>
      <th>Mood</th>
      <th>Desc</th>
      <th>Intensity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @updatelist.each do |mood_update| %>
      <tr>
        <td><%= mood_update.mood.mood %></td>
        <td><%= mood_update.desc %></td>
        <td><%= mood_update.intensity %></td>
        <td><%= link_to 'Show', mood_update %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
