<div class="center jumbotron">
<div id="hometitle">
<h1>Chroma</h1>
</div>
<% if user_signed_in? %>
<br>
<h3>Here is the list of your saved moods</h3>

<table>
  <thead>
    <tr>
      <th>Color</th>
      <th>Mood</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <!-- Added to make sure its only your mood that shows up -->

  <!-- <% @moodlist = current_user.mood %> -->
  <% @current_id = current_user.id %>
  <% @moodlist = Mood.using(:moodshard).where(user_id: @current_id) %>
  <tbody>
    <% @moodlist.each do |mood| %>
      <tr>
        <td><%= mood.color %></td>
        <td><%= mood.mood %></td>
        <td><%= link_to 'Show', mood %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Moods Page', :controller => 'moods'  %>

<br>
<br>

<h3>Here is the record of your mood updates</h3>

<table>
  <thead>
    <tr>
      <th>Mood</th>
      <th>Desc</th>
      <th>Intensity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
     <!-- <% @moodupdate_list = current_user.mood_update %> -->
     <% @moodupdate_list = MoodUpdate.using(:moodshard).where(user_id: @current_id) %>
      <% @moodupdate_list.each do |mood_update| %>
      <tr>
        <td><%= mood_update.mood.mood %></td>
        <td><%= mood_update.desc %></td>
        <td><%= mood_update.intensity %></td>
        <td><%= link_to 'Show', mood_update %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Moods Update Page', :controller => 'mood_updates' %>

<br>


</div >
<% else %>
<div class="start">

    <%= link_to  "<button type='button' class='btn btn-default btn-lg'>Register</button></br>".html_safe, new_user_registration_path %>
<h4>or</h4>

  <%= link_to "<button type='button' class='btn btn-default btn-lg'>Sign in </button></br>".html_safe, new_user_session_path %>
</div>
<% end %>
