<p id="notice"><%= notice %></p>

<p>
  <strong>Mood:</strong>
  <%= @mood_update.mood.mood %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @mood_update.desc %>
</p>

<p>
  <strong>Intensity:</strong>
  <%= @mood_update.intensity %>
</p>

<%= link_to 'Edit', edit_mood_update_path(@mood_update) %> |
<%= link_to 'Back', mood_updates_path %>

<h2> Comments </h2>
<div id="comments">

</div>
<%= form_for ([ @mood_update, Comment.new]) do |f| %>
<p>
  <%= f.label :body, "New comment" %> <br/>
  <%= f.text_area :body %>
</p>
<p><%= f.submit "Add comment" %> </p>

<% end %>
