<!DOCTYPE html>
<html>
<head>
  <title>Chroma</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <% if user_signed_in? %>
        Signed in as <%= current_user.email %>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    <% else %>
        <%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %>
    <% end %>
</head>
<body>

<%= yield %>

</body>
</html>
